<head>
    <META HTTP-EQUIV='Content-Security-Policy'
          CONTENT="default-src 'none'; font-src 'none'; object-src 'none'; script-src 'self'; style-src 'self' https://static.jboss.org; base-uri 'none'; form-action 'none'; frame-ancestors 'none' "/>
    <!--   <META HTTP-EQUIV='X-Frame-Options' CONTENT="DENY"> -->
    <META HTTP-EQUIV='X-XSS-Protection' CONTENT="1; mode=block">
    <META HTTP-EQUIV='X-Content-Type-Options' CONTENT="nosniff">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="RESTEasy"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="all"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
    <title>RESTEasy - JBoss Community</title>
    <link rel="icon" type="image/png" href="{{site.baseurl}}/img/orgLayoutBody/favicon/resteasy_icon_16x.png"/>

    <link rel="stylesheet" type="text/css" href="https://static.jboss.org/theme/css/magnolia/clearspace_common.css"
          media="screen, projection"/>
    <!--   <link rel="stylesheet" type="text/css" href="https://static.jboss.org/theme/css/magnolia/stkdefault-styles.css"
             media="screen, projection"/> -->
    <link rel="stylesheet" type="text/css" href="https://static.jboss.org/theme/css/common/org_common.css"
          media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="https://static.jboss.org/css/magnolia/styles.css"
          media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="https://static.jboss.org/theme/css/magnolia/project.css"
          media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="https://static.jboss.org/theme/css/magnolia/wide.css"
          media="only screen and (min-width: 1200px)"/>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/jbossdeveloper-thin.css" media="screen, projection"/>
    <!-- https://static.jboss.org/css/jbossdeveloper-thin.css -->
    <link rel="stylesheet" type="text/css" href="https://static.jboss.org/css/rhbar.css" media="screen, projection"/>

</head>
