       <div id="wrapper-2">
            <div id="wrap-content">
                <div id="wrapper-3">
                    <div id="main-wrapper">
                        <div id="main">
                            <!-- content title -->
                            <h3>RESTEasy</h3>
                            <div class="proj_define">RESTEasy is a JBoss / Red Hat project that provides various frameworks to
                                help you build RESTful Web Services and RESTful Java applications. It is an implementation of the
                                <a href="https://github.com/eclipse-ee4j/jaxrs-api">Jakarta RESTful Web Services</a>, an Eclipse
                                Foundation specification that provides a Java API for RESTful Web Services over the HTTP protocol.
                                <br/>Moreover, RESTEasy also implements the
                                <a href="https://github.com/eclipse/microprofile-rest-client">MicroProfile REST Client</a> specification API.
                            </div>
                            <p>RESTEasy can run in any Servlet container, but tighter integration with <a href="https://wildfly.org/">WildFly</a>
                               Application Server and <a href="https://quarkus.io/">Quarkus</a> is also available to make the
                               user experience nicer in those environments.</p>
                            <div id="proj_checklist"><h3>Features</h3>
                                <ul>
                                    <li>Portable to Tomcat and many other app-server</li>
                                    <li>Embeddedable server implementation for JUnit testing</li>
                                    <li>Enhanced client framework</li>
                                    <li>Client &quot;Browser&quot; cache. Supports HTTP 1.1 caching semantics including
                                        cache revalidation
                                    </li>
                                    <li>Server in-memory cache. Local response cache. Automatically handles ETag
                                        generation and cache revalidation
                                    </li>
                                    <li>Rich set of providers for: XML, JSON, YAML, Fastinfoset, Multipart, XOP, Atom,
                                        etc.
                                    </li>
                                    <li>JAXB marshalling into XML, JSON, Jackson, Fastinfoset, and Atom as well as
                                        wrappers for maps, arrays, lists, and sets of JAXB Objects.
                                    </li>
                                    <li>GZIP content-encoding</li>
                                    <li>Asynchronous HTTP abstractions for Servlet 3</li>
                                    <li>Reactive support</li>
                                    <li>Asynchronous Job Service.</li>
                                    <li>Rich interceptor model.</li>
                                    <li>OAuth2 and Distributed&nbsp;SSO with JBoss AS7</li>
                                    <li>Digital Signature and encryption support with S/MIME and DOSETA</li>
                                    <li>EJB, Seam, Guice, Spring, Spring MVC and Spring&nbsp;Boot integration</li>
                                </ul>
                            </div>
                            {{content}}
                            <p>&nbsp;</p>
                        </div><!-- end main -->
                    </div>
