      <div id="wrapper-2">
         <div id="wrap-content">
            <div id="wrapper-3">
               <div id="main-wrapper">
                  <div id="main">
                     <div id="breadcrumb">
                       <span>
                              <a href="{{site.baseurl}}/">RESTEasy</a>
                                &gt;
                              <a href="{{site.baseurl}}/blogs">Blogs</a>
                                &gt;
                              <a href="#">{{ page.title }}</a>
                       </span>
                     </div><!-- end breadcrumb -->
                     <h3>{{page.title}}</h3>
                     <h5>By {{page.author}} | {{page.date|date: "%B %-d, %Y"}}</h5>
                     <p></p>
                     {{content}}

                  </div><!-- end main -->
               </div>

