                    <div id="rightcolumn" class="column">
                        <div class="projectpage-socialmedia">
                            <span class="st_sharethis_large">&nbsp;</span>
                            <span class="st_facebook_large">&nbsp;</span>
                            <span class="st_twitter_large">&nbsp;</span>
                            <span class="st_linkedin_large">&nbsp;</span>
                            <span class="st_email_large">&nbsp;</span>
                        </div>
                        <div id="proj_quick-start">
                            <h3>Useful Links</h3>
                            <ul>
                                <li><a href="{{site.baseurl}}/downloads">Download</a></li>
                                <li><a href="{{site.baseurl}}/docs">Documentation</a></li>
                                <li><a href="{{site.baseurl}}/books">Books</a></li>
                                <li><a href="{{site.baseurl}}/mailinglists">Mailing Lists</a></li>
                                <li><a href="{{site.baseurl}}/blogs">Blogs</a></li>
                                <li><a href="https://www.jboss.org/community/docs/DOC-12837">Wiki</a></li>
                                <li><a href="https://github.com/resteasy/Resteasy">Git Repository</a></li>
                                <li><a href="https://github.com/resteasy/Resteasy/graphs/contributors">Contributors</a>
                                </li>
                                <li>
                                    <a href="https://jira.jboss.org/jira/secure/ConfigureReleaseNote.jspa?projectId=12310560">Release
                                        Notes</a></li>
                                <li><a href="https://jira.jboss.org/jira/browse/RESTEASY">JIRA Issue Tracker</a></li>
                            </ul>
                        </div> 
                        <!--div class="interviews-rss ">
                            <h3>RESTEasy</h3>
                            <dl class="oddrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/10/30/resteasy-440final-moving-to-jakarta-artifacts-and-much-more">RESTEasy 4.4.0.Final: moving to Jakarta artifacts and much more</a></dt>
                                <dd class="date">October 30th, 2019 by Alessio Soldano</dd>
                                <dd>Just before Halloween, here is another nice release of RESTEasy! The new version comes with: * a bunch of new features&#8230;
                                </dd>
                            </dl>
                            <dl class="evenrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/10/08/looking-to-the-future">Looking to the future...</a></dt>
                                <dd class="date">October 9th, 2019 by Alessio Soldano</dd>
                                <dd>If you look at the download page, you might notice that so far 2019 has been a
                                    year rich of RESTEasy releases. We've made 11 &#8230;
                                </dd>
                            </dl>
                            <dl class="oddrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/10/08/resteasy-spring-boot-starter-411final-released">RESTEasy Spring Boot Starter 4.1.1.Final released</a></dt>
                                <dd class="date">Oct 08, 2019 by Wei Nan Li
                                </dd>
                                <dd>In this release we have updated the RESTEasy and Spring Boot dependencies.
                                </dd>
                            </dl>
                            <dl class="evenrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/09/23/resteasy-430final-and-390final-released">RESTEasy
                                        4.3.0.Final and 3.9.0.Final released</a></dt>
                                <dd class="date">September 23, 2019 by Ron Sigal</dd>
                                <dd>Two new RESTEasy releases appeared recently, 4.3.0.Final and 3.9.0.Final. Both of
                                    them introduce a new feature which&#8230;
                                </dd>
                            </dl>
                            <dl class="oddrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/09/04/resteasy-spring-boot-starter-410final-and-320final-released">RESTEasy
                                        Spring Boot Starter 4.1.0.Final and 3.2.0.Final released</a></dt>
                                <dd class="date">September 4, 2019 by Wei Nan Li
                                </dd>
                                <dd>The RESTEasy Spring Boot Starter 4.1.0.Final and 3.2.0.Final are released, and the
                                    major change is that these two releases&#8230;
                                </dd>
                            </dl>
                            <dl class="evenrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/08/05/resteasy-420final-performance-enhancements-and-new-features">RESTEasy
                                        4.2.0.Final: performance enhancements and new features</a></dt>
                                <dd class="date">August 5, 2019 by Alessio Soldano</dd>
                                <dd>I'm pleased to announce that, at the end of last week, RESTEasy 4.2.0.Final has been
                                    released! It's less than two months&#8230;
                                </dd>
                            </dl>
                            <dl class="oddrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/07/16/resteasy-spring-boot-starter-400final-released">RESTEasy
                                        Spring Boot Starter 4.0.0.Final released</a></dt>
                                <dd class="date">July 16, 2019 by Wei Nan Li</dd>
                                <dd>In this release, RESTEasy Spring Boot Starter consumes RESTEasy 4.1.0.Final.</dd>
                            </dl>
                            <dl class="evenrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/06/27/resteasy-410final-is-available">RESTEasy
                                        4.1.0.Final is available!</a></dt>
                                <dd class="date">June 27, 2019 by Alessio Soldano</dd>
                                <dd>Folks, as previously anticipated, RESTEasy 4.1.0.Final has been released! It brings
                                    the new MicroProfile REST Client&#8230;
                                </dd>
                            </dl>
                            <dl class="oddrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/06/19/resteasy-380final-and-microprofile-3">RESTEasy
                                        3.8.0.Final and MicroProfile 3</a></dt>
                                <dd class="date">June 19, 2019 by Alessio Soldano</dd>
                                <dd>Last week the release of MicroProfile 3.0 was announced. It comes with few additions
                                    and updates in some of its &#8230;
                                </dd>
                            </dl>
                            <dl class="evenrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/06/03/resteasy-spring-boot-starter-310final-released">RESTEasy
                                        Spring Boot Starter 3.1.0.Final released</a></dt>
                                <dd class="date">Jun 3, 2019 by Wei Nan Li
                                </dd>
                                <dd>
                                    RESTEasy Spring Boot Starter 3.1.0.Final is ready to be used.
                                </dd>
                            </dl>
                            <dl class="oddrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/05/07/resteasy-400final-is-here">RESTEasy
                                        4.0.0.Final is here!</a></dt>
                                <dd class="date">May 7, 2019 by Alessio Soldano</dd>
                                <dd>
                                    At the end of March I was announcing RESTEasy 4 CR1 and telling the final was coming
                                    soon. Unfortunately &#8230;
                                </dd>
                            </dl>
                            <dl class="evenrow">
                                <dt>
                                    <a href="https://developer.jboss.org/en/resteasy/blog/2019/03/28/resteasy-4-is-coming-soon">RESTEasy
                                        4 is coming soon</a></dt>
                                <dd class="date">Mar 28, 2019 by Alessio Soldano</dd>
                                <dd>Earlier this week a release candidate version (4.0.0.CR1) of RESTEasy has been
                                    tagged. The artifact&#8230;
                                </dd>
                            </dl>
                            <dl>
                                <dd class="more">View <a
                                        href="https://developer.jboss.org/en/resteasy/blog/feeds/posts">more
                                    resteasy</a></dd>
                            </dl>
                        </div>
                        <div class="clear"></div-->
                        <div id="badges">
                            <ul>
                                <li class="license-asl"><a href="https://www.apache.org/licenses/LICENSE-2.0"><em>Apache
                                    License, Version 2.0</em></a></li>
                            </ul>
                        </div>
                        <br/>
                        <div class="uploaded-img">
                            <a href="https://www.cafepress.com/jbossorg/7097895">
                                <img width="225" alt="RESTEasy - Project Swag" height="110"
                                     src="{{site.baseurl}}/img/rightColumnParagraphs/0/imageBinary/resteasy_coolstuff_makerfile.png"/>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.jboss.org/security.html">
                                <div class="projectpage-sprite projectpage-sprite-securityimage">&nbsp;</div>
                            </a>
                        </div>
                    </div>
                </div><!-- end wrapper-3 -->
            </div><!-- end wrapper-content -->
