---
layout: default
title:      "Downloads"
selflink:   "downloads"
---

{% for release in site.data.releases %}
{% if release.item and release.item[0].download_link %}
<h3 id="{{ release.name | replace:'.','' | downcase }}">RESTEasy {{ release.name }}</h3>
<table align="left" border="0" cellpadding="0" cellspacing="1" class="simpletablestyle" width="100%">
    <thead>
    <tr class="header">
        <th>Name</th>
        <th>Source Code</th>
        <th>Size</th>
        <th>Release date</th>
        <th>License</th>
        <th>Release notes</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    {% for item in release.item %}
    {% if item.download_link %}
    {% capture rowClass %}{% cycle 'oddRow', '' %}{% endcapture %}
    <tr class="{{ rowClass }}">
        <td id="{{ item.version | replace:'.','' | downcase }}">{{ item.version }}</td>
        <td>{% if item.source %}<a href="{{ item.source }}">Source Code</a> {% endif %}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.license }}</td>
        <td>
            {% if item.release_notes %}<a class="td-download" href="{{ item.release_notes }}">Release Notes</a>{% endif %}
        </td>
        <td>
            {% if item.download_link %}<a class="td-download" href="{{ item.download_link }}">{{ item.download_text }}</a>{% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endfor %}
